
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form login-form">
                <form  (ngSubmit)="login()">
                    <h2 class="text-center">Login Form</h2>
                    <p class="text-center">Login with your email and password.</p>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" [(ngModel)]="LoginLists.username" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" [(ngModel)]="LoginLists.password" placeholder="Password" required>
                    </div>
                    <div class="link forget-pass text-left"><a href="forgot-password.php">Forgot password?</a></div>
                    <div class="form-group">
                   
                        <button  class="form-control button" type="submit" name="login" value="Login">login </button>
                    </div>
                    <div class="link login-link text-center">Not yet a member? <a href="http://localhost:4200/register" >Signup now</a></div>
                </form>
            </div>
        </div>
    </div>
<div>

</div>
</body>

